*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Brandon Grotesque Black";
  src: url(../fonts/brandongrotesque-black.otf);
}
@font-face {
  font-family: "Gotham Book";
  src: url(../fonts/Gotham-Book.otf);
}
@font-face {
  font-family: "Gilory Light";
  src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
  font-family: "SF-Pro";
  src: url(../fonts/SF-Pro.ttf);
}
.padding {
  padding: 10px;
}

ul {
  list-style: none;
}

p {
  line-height: 27px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #00AEC7;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important;
  /* !important used for overriding all other customisations */
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 15px) !important;
  /* Better placement regardless of input width */
}

/*For IE*/
select::-ms-expand {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  padding-top: 80px !important;
}

a,
button {
  cursor: default;
}

button {
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.no-transition {
  transition: none !important;
}

.header {
  padding: 15px 0px;
  background: #ffffff;
  z-index: 99;
  position: fixed;
  top: 0px;
  width: 100%;
}
.header .navbar {
  display: contents;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .top-menu-wrapper {
  color: #221f1f;
}
.header .navbar .top-menu-wrapper::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background 0.5s;
}
.header .navbar .open-mobile-menu i {
  color: #00AEC7;
  font-size: 25px;
}
.header .navbar .top-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  display: flex;
  flex-direction: column;
  width: 450px;
  overflow-y: auto;
  padding: 10px;
  background: #ffffff;
  margin: 0px;
}
.header .navbar .top-menu-wrapper.show-offcanvas::before {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.header .navbar .top-menu-wrapper.show-offcanvas .panel,
.header .navbar .top-menu-wrapper.show-offcanvas .top-menu {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.7s;
}
.header .navbar .top-menu-wrapper.show-offcanvas .top-menu {
  transition-delay: 0.2s;
}
.header .navbar ul a {
  display: inline-block;
  color: #53565A;
  font-size: 27px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Brandon Grotesque Black", Sans-serif;
  transition: color 0.35s ease-out;
}
.header .navbar ul a:hover {
  color: #00AEC7;
}
.header .navbar .has-dropdown i {
  display: none;
}
.header .navbar .sub-menu {
  padding: 0.5rem 1.5rem 0 1.5rem;
}
.header .navbar .sub-menu a {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0rem;
}
.header .navbar .top-menu li + li {
  margin-top: 1.3rem;
  margin-left: 40px;
}
.header .navbar .top-menu .mob-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.header .navbar .top-menu .mob-block i {
  color: #ACACAC !important;
  font-size: 25px;
  margin-left: 3px;
}

.number {
  margin-left: 70px;
  text-align: left;
  color: #53565A;
  font-family: "Gotham Book", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .number {
    margin-left: 45px;
  }
}
.number a {
  cursor: pointer;
}

.logo {
  text-align: center;
}
.logo .web-none {
  display: none;
}
.logo img {
  cursor: pointer;
}

.sign-up {
  text-align: end;
}
.sign-up .btn-primary {
  font-family: "Gilory Light", Sans-serif;
  font-size: 12px;
  font-weight: 500;
  background-color: #00AEC7;
  border-radius: 0px 0px 0px 0px;
  padding: 10px 25px 8px 25px;
  border: none;
}

@media screen and (max-width: 767px) {
  .mbl-none {
    display: none !important;
  }

  .web-none {
    display: block !important;
  }
}
.main-banner {
  background-image: url(../img/main-banner.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
@media screen and (max-width: 575px) {
  .main-banner {
    min-height: 250px !important;
  }
}
.main-banner .banner-content {
  max-width: 700px;
  margin: 0 auto;
}
.main-banner .banner-content .banner-btn {
  padding: 4% 0% 0% 0%;
}
.main-banner .banner-content .banner-btn .btn-border {
  font-family: "Gilory Light", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(97, 206, 112, 0);
  border: 1px solid #fff;
  border-width: 1px 1px 1px 1px;
  padding: 7px 40px;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}



@media screen and (max-width: 1024px) {
  .exhale-pilates .welcome-text h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 575px) {
  .exhale-pilates .welcome-text h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 767px) {
  .exhale-pilates .welcome-text h1 {
    text-align: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .exhale-pilates .para {
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .exhale-pilates .para P {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .exhale-pilates .para P {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
}
.exhale-pilates .time-class {
  padding: 7% 0% 0% 0%;
}
@media screen and (max-width: 767px) {
  .exhale-pilates .time-class {
    text-align: center;
    max-width: 100%;
  }
}
.exhale-pilates .time-class .btn-buy {
  color: #ffffff;
  background-color: #00aec7;
  border-radius: 0px 0px 0px 0px;
  padding: 8px 20px;
  line-height: 10px;
  border: 1px solid white;
  margin-right: 24px;
  width: 130px;
}
.exhale-pilates .time-class .btn-buy a {
  font-family: "Gilory Light", Sans-serif;
  font-size: 11.84px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  fill: #53565a;
}
.exhale-pilates .time-class .btn-buy a:hover {
  color: white;
}
@media screen and (max-width: 575px) {
  .exhale-pilates .time-class .btn-buy {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
  }
}

.our-studios {
  padding: 0% 0% 5% 0%;
}
.our-studios .title {
  padding: 4% 0% 2% 0%;
}

@media screen and (max-width: 1024px) {
  .our-studios .title h2 {
    font-size: 28px;
  }
}


.our-studios .images .heading {
  position: absolute;
  z-index: 9;
  right: 0px;
  text-align: center;
  width: 190px !important;
  background: #CECDCD;
  padding: 20px 10px;
  bottom: 50px;
  cursor: pointer;
}
.our-studios .images .heading P {
  margin-bottom: 0px;
  color: #53565a;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
  font-weight: 300;
}

.our-classes {
  background-color: #EBEBEB;
  padding: 0% 0% 6% 0%;
}
.our-classes .title {
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  .our-classes .title h1 {
    font-size: 25px;
  }
}

.our-classes .upcoming-course {
  padding: 0% 0% 2% 0%;
}
.our-classes .upcoming-course button {
  font-family: "Gilory Light", Sans-serif;
  font-size: 14.49px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #00aec7;
  border-radius: 0px 0px 0px 0px;
  width: auto;
  color: white;
  padding: 1% 3% 1% 3%;
}
@media screen and (max-width: 575px) {
  .our-classes .upcoming-course button {
    padding: 3% 3% 3% 3%;
  }
}
.our-classes .upcoming-course button a {
  cursor: pointer;
}
.our-classes .upcoming-course button a:hover {
  color: white;
}
.our-classes .padding {
  padding: 10px 0px;
}
.our-classes .padding .hover-img {
  position: relative;
 
}

.our-classes .padding .hover-img h5 {
  color: #FFFFFF;
  font-family: "Gotham Bold", Sans-serif;
  font-size: 15.15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 180px;
  text-align: center;
}

.our-classes .padding .hover-img:hover .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  z-index: 2;
  background-color: #a6a6a6;
  text-align: center;
  padding: 30px;
}
.our-classes .padding .hover-img:hover .content P {
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  line-height: 25px;
}
.our-classes .padding .hover-img:hover h5 {
  display: none;
}

.recommended-by {
  padding: 0% 0% 3% 0%;
}
.recommended-by h2 {
  padding: 3% 0% 1% 0%;
  margin-bottom: 20px;
  color: #53565a;
  font-family: "Gotham Book", Sans-serif;
  font-size: 25px;
  font-weight: 300;
}
.recommended-by a img {
  cursor: pointer;
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto;
}

.class-instructor {
  display: flex;
}
@media screen and (max-width: 630px) {
  .class-instructor {
    display: block;
  }
}

@media screen and (max-width: 630px) {
  .class-instructor .class {
    width: 100%;
    padding: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .class-instructor .class a {
    width: 270px;
  }
}

@media screen and (max-width: 630px) {
  .class-instructor .instructor {
    width: 100%;
    padding: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .class-instructor .instructor a {
    width: 270px;
  }
}

.pricing-banner {
  background-image: url(../img/pricing-banner.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
@media screen and (max-width: 575px) {
  .pricing-banner {
    min-height: 385px !important;
  }
}
.pricing-banner .banner-content {
  max-width: 700px;
  margin: 0 auto;
}
.pricing-banner .banner-content h1 {
  color: #FFFFFF;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 62px;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .pricing-banner .banner-content h1 {
    font-size: 45px;
  }
}
.pricing-banner .banner-content p {
  max-width: 435px !important;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  margin-bottom: 20px;
}
.pricing-banner .banner-content .banner-btn {
  padding: 4% 0% 0% 0%;
}
.pricing-banner .banner-content .banner-btn .btn-border {
  font-family: "Gilory Light", Sans-serif;
  font-size: 14.49px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(97, 206, 112, 0);
  border: 1px solid #fff;
  border-width: 1px 1px 1px 1px;
  padding: 1% 5% 1% 4%;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

.pricing-section {
  padding: 0% 0% 3% 0%;
}
.pricing-section .filter {
  padding: 3% 0% 3% 0%;
}
.pricing-section .filter .searchBoxMain {
  display: flex;
  align-items: center;
  grid-gap: 20px;
  justify-content: center;
  padding: 10px;
}
.pricing-section .filter .searchBoxMain select {
  border: 1px solid #A6A6A6;
  padding: 0px 10px;
  width: 371px;
  height: 47px;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
}
.pricing-section .filter .searchBoxMain select:focus-visible {
  outline: none;
}
.pricing-section .filter .searchBoxMain button {
  background: #00AEC7 !important;
  text-transform: uppercase;
  padding: 3px 5px;
  color: white;
  font-size: 14.49px;
  width: 110px;
  height: 30px;
  font-family: "Gilory Light", Sans-serif;
}
.pricing-section .new-offer .title {
  text-align: center;
  padding: 10px;
}
.pricing-section .new-offer .title h1 {
  color: #53565a;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 37px;
  font-weight: 600;
  padding: 0% 0% 4% 0%;
}
@media screen and (max-width: 1024px) {
  .pricing-section .new-offer .title h1 {
    font-size: 25px;
  }
}
.pricing-section .pricing-cards .card-padding {
  padding: 10px;
}
@media screen and (max-width: 575px) {
  .pricing-section .pricing-cards .card-padding {
    padding: 10px 20px;
  }
}
.pricing-section .pricing-cards .card-padding .card-1 {
  text-align: center;
  padding: 10% 8% 14% 8%;
  background-color: #00aec7;
}
.pricing-section .pricing-cards .card-padding .card-1 h2 {
  margin-bottom: 20px;
  color: #53565a;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 56.9px;
  font-weight: 600;
}
.pricing-section .pricing-cards .card-padding .card-1 h3 {
  color: #FFFFFF;
  font-family: "Roboto", Sans-serif;
  font-size: 26.96px;
  font-weight: 600;
  letter-spacing: 1px;
}
.pricing-section .pricing-cards .card-padding .card-1 .para {
  max-width: 187px;
  margin: 0 auto;
}
.pricing-section .pricing-cards .card-padding .card-1 .para P {
  text-align: center;
  color: #FFFFFF;
  font-family: "Gotham Book", Sans-serif;
  font-size: 12.38px;
  font-weight: 400;
  margin-bottom: 20px;
}
.pricing-section .pricing-cards .card-padding .card-1 .btn-buy {
  color: #53565a;
  background-color: #FFFFFF;
  border-radius: 0px 0px 0px 0px;
  padding: 12px 24px;
  line-height: 10px;
}
.pricing-section .pricing-cards .card-padding .card-1 .btn-buy a {
  font-family: "Gilory Light", Sans-serif;
  font-size: 11.84px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  fill: #53565a;
}
.pricing-section .pricing-cards .card-padding .card-2 {
  background-color: #ACACAC !important;
}
.pricing-section .pricing-cards .card-padding .card-3 {
  background-color: #A3E2EB;
}

.class-schedule {
  background: #ebebeb;
  padding: 0% 0% 3% 0%;
}
.class-schedule .fields-section {
  padding: 8% 1% 0% 1%;
}
.class-schedule .fields-section select {
  padding: 0px 10px;
  width: 100%;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
  border: none !important;
  height: 43px;
  color: #53565A;
}
.class-schedule .fields-section select:focus-visible {
  outline: none;
}
.class-schedule .filter {
  padding: 10px;
  text-align: end;
}
.class-schedule .filter button {
  padding: 3px 10px;
  align-items: center !important;
  background: white;
  cursor: pointer;
  width: 151px;
  display: flex !important;
  gap: 10px;
  height: 34px;
  margin-left: auto;
}
.class-schedule .tabel-date {
  text-align: center;
  padding: 0% 0% 4% 0%;
}
.class-schedule .tabel-date h3 {
  color: #53565A;
  font-family: "Gotham Medium", Sans-serif;
  font-size: 26.96px;
  font-weight: 600;
}
.class-schedule .table-section {
  padding: 10px;
}
.class-schedule .table-section .table-wrapper {
  overflow-x: scroll;
}
.class-schedule .table-section .table-wrapper::-webkit-scrollbar {
  height: 4px;
}
.class-schedule .table-section .table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.class-schedule .table-section .table-wrapper::-webkit-scrollbar-thumb {
  background: #a3ccf7;
}
.class-schedule .table-section .table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #77b2f1;
}
.class-schedule .table-section .table-wrapper .space {
  border-left: 23px solid white;
  border-right: 23px solid white;
}
.class-schedule .table-section .table-wrapper .fl-table {
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  background-color: white;
}
.class-schedule .table-section .table-wrapper .fl-table thead {
  border-left: 23px solid #00AEC7;
  border-right: 23px solid #00AEC7;
}
.class-schedule .table-section .table-wrapper .fl-table thead tr {
  border: none;
}
.class-schedule .table-section .table-wrapper .fl-table thead th {
  color: #ffffff;
  background: #00AEC7;
  font-size: 15px;
  font-family: "Gotham Bold", Sans-serif;
  font-weight: 500;
}
.class-schedule .table-section .table-wrapper .fl-table th {
  border: none;
  text-align: start;
  padding: 15px 30px;
}
.class-schedule .table-section .table-wrapper .fl-table td {
  border: none;
  text-align: start;
  padding: 15px 30px;
  font-size: 13.87px;
  color: #53565A;
  font-family: "Gotham Book", Sans-serif;
}
.class-schedule .table-section .table-wrapper .fl-table td button {
  border: 1px solid #929292;
  background: transparent;
  color: #808080 !important;
  font-size: 12px;
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class-schedule .table-section .table-wrapper .fl-table td p {
  margin-bottom: 4px;
}
.class-schedule .table-section .table-wrapper .fl-table tr {
  padding: 10px 0px;
  border-bottom: 1px solid #ACACAC;
}
.class-schedule .table-section .table-wrapper tr:last-child {
  border-bottom: none;
}

.faqs-banner {
  background-image: url(../img/faqs-banner.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
@media screen and (max-width: 575px) {
  .faqs-banner {
    min-height: 250px !important;
  }
}
.faqs-banner .banner-content {
  max-width: 700px;
  margin: 0 auto;
}
.faqs-banner .banner-content h1 {
  color: #FFFFFF;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 62px;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .faqs-banner .banner-content h1 {
    font-size: 45px;
  }
}

.faqHead {
  padding: 60px 0px;
}
.faqHead .box {
  height: 100%;
  padding: 10px;
}
.faqHead .box a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #707070;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  padding: 2rem 3.5rem;
  margin: 0;
  font-family: "Gotham Book", Sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.faqHead .box a:hover {
  border: 1px solid #A3E2EB;
  background-color: #A3E2EB;
  color: white;
}

.faqs-accordion .graySec {
  background-color: #f7f7f7;
  padding: 5rem 0;
}
.faqs-accordion .WhiteSec {
  background-color: white;
  padding: 5rem 0;
}
.faqs-accordion .ColorSec {
  background-color: #00AEC7;
  padding: 5rem 0;
}
.faqs-accordion .ColorSec .accordion-section h1 {
  color: white;
}
.faqs-accordion .accordion-section h1 {
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.faqs-accordion .accordion-section .accordion-item {
  border: none;
  box-shadow: 1px 11px 12px 1px rgba(128, 128, 128, 0.2117647059);
  margin-bottom: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 2rem 0 0;
  cursor: pointer;
}
.faqs-accordion .accordion-section .accordion-button {
  color: #53565a;
  background-color: white;
  box-shadow: none;
  font-family: "Gotham Book", Sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.faqs-accordion .accordion-section .accordion-button:not(.collapsed) {
  color: #53565a;
  background-color: white;
  box-shadow: none;
  font-family: "Gotham Book", Sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.faqs-accordion .accordion-section .accordion-body {
  font-family: "Gotham Book", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.faqs-accordion .accordion-section .accordion-body a {
  text-decoration: underline;
}

.teacher-training-banner {
  background-image: url(../img/teacher-training.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
@media screen and (max-width: 575px) {
  .teacher-training-banner {
    min-height: 385px !important;
  }
}
.teacher-training-banner .banner-content {
  max-width: 700px;
  margin: 0 auto;
}
.teacher-training-banner .banner-content h1 {
  color: #FFFFFF;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 62px;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .teacher-training-banner .banner-content h1 {
    font-size: 37px;
  }
}
.teacher-training-banner .banner-content p {
  max-width: 435px !important;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  margin-bottom: 20px;
}
.teacher-training-banner .banner-content .banner-btn {
  padding: 4% 0% 0% 0%;
}
.teacher-training-banner .banner-content .banner-btn .btn-border {
  font-family: "Gilory Light", Sans-serif;
  font-size: 14.49px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(97, 206, 112, 0);
  border: 1px solid #fff;
  border-width: 1px 1px 1px 1px;
  padding: 1% 5% 1% 4%;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

.training-section .new-offer .title {
  text-align: center;
  padding: 10px;
}
.training-section .new-offer .title h1 {
  color: #53565a;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 37px;
  font-weight: 600;
  padding: 4% 0% 0% 0%;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .training-section .new-offer .title h1 {
    font-size: 25px;
  }
}
.training-section .new-offer .title P {
  max-width: 635px;
  margin: 0 auto;
  text-align: center;
  color: #53565a;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
  font-weight: 400;
}
.training-section .training-cards {
  padding: 6% 0% 0% 0%;
}
.training-section .training-cards .card-padding {
  padding: 10px;
}
@media screen and (max-width: 575px) {
  .training-section .training-cards .card-padding {
    padding: 10px 20px;
  }
}
.training-section .training-cards .card-padding .card-1 {
  text-align: center;
  padding: 10% 8% 10% 8%;
  background-color: #00aec7;
}
.training-section .training-cards .card-padding .card-1 h2 {
  padding-bottom: 20px;
  color: #53565a;
  font-family: "Roboto", Sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  height: 75px;
  max-width: 210px;
  margin: 0 auto;
}
.training-section .training-cards .card-padding .card-1 .para {
  max-width: 240px;
  margin: 0 auto;
}
.training-section .training-cards .card-padding .card-1 .para P {
  text-align: center;
  color: #FFFFFF;
  font-family: "Gotham Book", Sans-serif;
  font-size: 12.38px;
  font-weight: 400;
  margin-bottom: 20px;
}
.training-section .training-cards .card-padding .card-1 .btn-buy a {
  width: 90px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: "Gilory Light", Sans-serif;
  font-size: 11.84px;
  font-weight: 200;
  background-color: rgba(97, 206, 112, 0);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 0px 0px 0px;
  padding: 0% 0% 0% 0%;
  color: white;
  cursor: pointer;
}
.training-section .training-cards .card-padding .card-1 .btn-buy a:hover {
  color: white;
}
.training-section .training-cards .card-padding .card-2 {
  background-color: #ACACAC !important;
}
.training-section .training-cards .card-padding .card-3 {
  background-color: #A3E2EB;
}

.arrow-down {
  padding: 25px 0px 30px 0px;
}

.upcoming-course {
  padding: 0% 0% 4% 0%;
}
.upcoming-course button {
  font-family: "Gilory Light", Sans-serif;
  font-size: 14.49px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #00aec7;
  border-radius: 0px 0px 0px 0px;
  width: auto;
  color: white;
  padding: 1% 3% 1% 3%;
}
@media screen and (max-width: 575px) {
  .upcoming-course button {
    padding: 3% 3% 3% 3%;
  }
}
.upcoming-course button a {
  cursor: pointer;
}
.upcoming-course button a:hover {
  color: white;
}

.contact-banner {
  background-image: url(../img/contact-banner.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
@media screen and (max-width: 575px) {
  .contact-banner {
    min-height: 250px !important;
  }
}
.contact-banner .banner-content {
  max-width: 700px;
  margin: 0 auto;
}
.contact-banner .banner-content h1 {
  color: #FFFFFF;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 62px;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .contact-banner .banner-content h1 {
    font-size: 45px;
  }
}

.primrose-hill {
  background-color: #00AEC7;
  padding: 6% 0% 6% 0%;
}
.primrose-hill .welcome-text h1 {
  max-width: 446px;
  color: #FFFFFF;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 66px;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .primrose-hill .welcome-text h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 575px) {
  .primrose-hill .welcome-text h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 767px) {
  .primrose-hill .welcome-text h1 {
    text-align: center;
    max-width: 100%;
  }
}
.primrose-hill .para {
  max-width: 350px;
  margin: 0% 0% 5% 0%;
  padding: 0% 0% 0% 0%;
}
@media screen and (max-width: 767px) {
  .primrose-hill .para {
    max-width: 100%;
  }
}
.primrose-hill .para P {
  color: #53565A;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
  font-weight: 400;
  width: 74%;
  max-width: 74%;
}
@media screen and (max-width: 1024px) {
  .primrose-hill .para P {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .primrose-hill .para P {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
}
.primrose-hill .time-class {
  padding: 7% 0% 0% 0%;
}
@media screen and (max-width: 767px) {
  .primrose-hill .time-class {
    text-align: center;
    max-width: 100%;
  }
}
.primrose-hill .time-class .btn-buy {
  color: #ffffff;
  background-color: #00aec7;
  border-radius: 0px 0px 0px 0px;
  padding: 8px 20px;
  line-height: 10px;
  border: 1px solid white;
  margin-right: 24px;
  width: 130px;
}
.primrose-hill .time-class .btn-buy a {
  font-family: "Gilory Light", Sans-serif;
  font-size: 11.84px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  fill: #53565a;
}
.primrose-hill .time-class .btn-buy a:hover {
  color: white;
}
@media screen and (max-width: 575px) {
  .primrose-hill .time-class .btn-buy {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
  }
}

.address {
  padding: 0% 0% 5% 0%;
}
.address .find-us {
  padding: 3% 0% 4% 0%;
}
.address .find-us h2 {
  color: #53565A;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 37px;
  font-weight: 600;
}
.address .address-map .heading h3 {
  color: #53565A;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}
.address .address-map .heading p {
  color: #53565a;
  font-family: "SF-Pro", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 5px;
}
.address .address-map iframe {
  width: 100%;
  height: 325px;
}

.class-detail-banner {
  background-image: url(../img/class-detail-banner.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
@media screen and (max-width: 575px) {
  .class-detail-banner {
    min-height: 250px !important;
  }
}
.class-detail-banner .banner-content {
  max-width: 700px;
  margin: 0 auto;
}
.class-detail-banner .banner-content h1 {
  color: #FFFFFF;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 62px;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .class-detail-banner .banner-content h1 {
    font-size: 45px;
  }
}

.class-detail-1 {
  padding: 5% 0% 5% 0%;
}
.class-detail-1 img {
  width: 100%;
  height: 375px;
  -o-object-fit: cover;
     object-fit: cover;
}
.class-detail-1 p {
  max-width: 356px;
  margin: 0 auto;
  text-align: center;
  color: #53565a;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
  font-weight: 400;
}

.class-detail-2 .clr {
  background-color: #A3E2EB;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .class-detail-2 .clr .padding {
    padding: 30px;
  }
}
.class-detail-2 .clr h1 {
  padding: 0% 0% 4% 0%;
  color: #53565a;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  margin: 0;
}
.class-detail-2 .clr p {
  max-width: 356px;
  margin: 0 auto;
  text-align: center;
  color: #53565a;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
}
.class-detail-2 .clr img {
  padding: 4% 0% 0% 0%;
  width: 18px;
}
.class-detail-2 .side-img img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .class-detail-2 .side-img img {
    padding: 10px;
  }
}

.class-detail-3 .clr {
  /* background-color: white; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .class-detail-3 .clr .padding {
    padding: 30px;
  }
}
.class-detail-3 .clr h1 {
  padding: 0% 0% 4% 0%;
  color: #53565a;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  margin: 0;
}
.class-detail-3 .clr p {
  max-width: 356px;
  margin: 0 auto;
  text-align: center;
  color: #53565a;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
}
.class-detail-3 .clr img {
  padding: 4% 0% 0% 0%;
  width: 18px;
}
.class-detail-3 .side-img img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .class-detail-3 .side-img img {
    padding: 10px;
  }
}

.class-detail-4 .clr {
  padding: 3% 0% 3% 0%;
  background-color: #A3E2EB;
}
@media screen and (max-width: 768px) {
  .class-detail-4 .clr .padding {
    padding: 30px;
  }
}
.class-detail-4 .clr h1 {
  padding: 0% 0% 4% 0%;
  color: #53565a;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  height: 106px;
}
@media screen and (max-width: 768px) {
  .class-detail-4 .clr h1 {
    height: 135px;
  }
}
.class-detail-4 .clr .center-align {
  max-width: 382px;
  margin: 0 auto;
}
.class-detail-4 .clr .center-align p {
  color: #53565a;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
}
.class-detail-4 .clr .center-align ul li {
  list-style: disc;
  margin-bottom: 10px;
  text-align: left;
  color: #53565a;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
  font-weight: 400;
}
.class-detail-4 .white {
  background-color: white;
  padding: 3% 0% 3% 0%;
}
@media screen and (max-width: 768px) {
  .class-detail-4 .white .padding {
    padding: 30px;
  }
}
.class-detail-4 .white h1 {
  padding: 0% 0% 4% 0%;
  color: #53565a;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  height: 106px;
}
@media screen and (max-width: 768px) {
  .class-detail-4 .white h1 {
    height: 135px;
  }
}
@media screen and (max-width: 766px) {
  .class-detail-4 .white h1 {
    height: 55px;
  }
}
@media screen and (max-width: 392px) {
  .class-detail-4 .white h1 {
    height: 105px;
  }
}
.class-detail-4 .white .center-align {
  max-width: 382px;
  margin: 0 auto;
}
.class-detail-4 .white .center-align p {
  color: #53565a;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
}
.class-detail-4 .white .center-align ul li {
  list-style: disc;
  margin-bottom: 10px;
  text-align: left;
  color: #53565a;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.15px;
  font-weight: 400;
}

.testimonial .title {
  padding: 3% 0% 3% 0%;
  text-align: center;
}
.testimonial .title h1 {
  padding: 2% 2% 2% 2%;
  color: #53565a;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 37px;
  font-weight: 600;
  text-transform: uppercase;
}
.testimonial img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .testimonial img {
    padding: 10px;
  }
}
.testimonial .enroll {
  padding: 3% 0% 3% 0%;
  text-align: center;
}
.testimonial .enroll a {
  font-family: "Gilory Light", Sans-serif;
  font-size: 21px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #00AEC7;
  border-radius: 0px 0px 0px 0px;
  padding: 1% 2% 1% 2%;
  color: white;
  width: 200px;
}

.team-banner {
  background-color: #00AEC7;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
@media screen and (max-width: 575px) {
  .team-banner {
    min-height: 250px !important;
  }
}
.team-banner .banner-content {
  max-width: 700px;
  margin: 0 auto;
}
.team-banner .banner-content h1 {
  color: #FFFFFF;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 62px;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .team-banner .banner-content h1 {
    font-size: 45px;
  }
}
.team-banner .banner-content p {
  max-width: 435px !important;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  margin-bottom: 20px;
}

.team-members .light-clr-gray {
  background-color: #EBEBEB;
  height: 500px;
  position: relative;
}
.team-members .medium-clr-gray {
  background-color: #DFDFDF;
  height: 500px;
  position: relative;
}
.team-members .dark-clr-gray {
  background-color: #C5C5C5;
  height: 500px;
  position: relative;
}
.team-members .member {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin-bottom: 30px;
}
.team-members .member a {
  cursor: pointer;
  font-family: "Gilory Light", Sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #929292;
  text-transform: uppercase;
  background-color: white;
  border-radius: 0px 0px 0px 0px;
  padding: 2% 15% 2% 15%;
  border: 1px solid #929292;
}

.member-detail {
  padding: 5% 0% 5% 0%;
  background: #EBEBEB;
}
.member-detail .member-img {
  text-align: center;
}
.member-detail .member-img img {
  max-width: 325px;
  height: 390px;
  -o-object-fit: cover;
     object-fit: cover;
}
.member-detail h1 {
  color: #53565a;
  font-family: "Brandon Grotesque Black", Sans-serif;
  font-size: 33px;
  margin-bottom: 7px;
}
.member-detail h3 {
  color: #53565a;
  font-family: "Gotham Medium", Sans-serif;
  font-size: 16px;
  margin-bottom: 7px;
}
.member-detail .member-width {
  max-width: 353px;
}
.member-detail .member-width p {
  padding: 4% 0% 0% 0%;
  text-align: left;
  color: #53565A;
  font-family: "Gotham Book", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
.member-detail .member-width .member-btn {
  padding: 4% 0% 0% 0%;
}
.member-detail .member-width .member-btn a {
  font-family: "Gilory Light", Sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #CECDCD;
  border-radius: 0px 0px 0px 0px;
  padding: 1% 3% 1% 3%;
  color: white;
  cursor: pointer;
}


.footer-banner .footer-content {
  text-align: left;
}
.footer-banner .footer-content .social-icon a {
  cursor: pointer;
}
.footer-banner .footer-content .social-icon a img {
  margin-right: 15px;
}
.footer-banner .footer-content .content-1 {
  margin-top: 30px;
}
.footer-banner .footer-content .content-1 p {
  color: #53565A;
  font-family: "Gotham Book", Sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  margin: 0;
  line-height: 10px;
}
.footer-banner .footer-content .content-1 a {
  color: #00AEC7;
  font-family: "Gotham Book", Sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.footer-banner .footer-content .content-2 {
  margin-top: 20px;
}
.footer-banner .footer-content .content-2 p {
  color: #53565A;
  font-family: "Gotham Book", Sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  margin: 0;
  line-height: 10px;
}
.footer-banner .footer-content .content-2 a {
  color: #00AEC7;
  font-family: "Gotham Book", Sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.footer-banner .footer-content .content-3 {
  margin-top: 20px;
}
.footer-banner .footer-content .content-3 a {
  color: #53565a;
  font-family: "SF-Pro", Sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.footer-banner .footer-content .content-4 {
  margin-top: 30px;
}
.footer-banner .footer-content .content-4 a {
  margin-right: 15px;
  padding: 0px;
  font-size: 8px;
  font-weight: 400 !important;
  color: #53565A;
  margin-right: 20px;
  font-family: "Gotham Book", Sans-serif;
}
