$color-white: #ffffff;
$color-grey: #cfcfcf;
$color-black: #221f1f;
$color-blue: #00AEC7;
$color-overlay: rgba(0, 0, 0, 0.5);
$box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 1px -5px rgba(0, 0, 0, 0.12),
  0 1px 6px 0 rgba(0, 0, 0, 0.2);

// Base Style
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "Brandon Grotesque Black" ;
    src: url(../fonts/brandongrotesque-black.otf);
}
@font-face {
    font-family: "Gotham Book";
    src: url(../fonts/Gotham-Book.otf);
}
@font-face {
    font-family: "Gilory Light";
    src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
    font-family:"SF-Pro" ;
    src: url(../fonts/SF-Pro.ttf);
}
.padding{
    padding: 10px;
}

ul {
  list-style: none;
}
p {
    line-height: 27px;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover{
      color: $color-blue;
  }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 15px) !important; /* Better placement regardless of input width */
  }
  /*For IE*/
  select::-ms-expand { display: none; }
img {
  max-width: 100%;
  height: auto;
}
body{
    padding-top: 80px !important;
}
a,
button {
  cursor: default;
}

button {
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.no-transition {
  transition: none !important;
}

// Header Style
.header {
  padding: 15px 0px;
  background: $color-white;
  z-index: 99;
  position: fixed;
  top: 0px;
  width: 100%;

  .navbar {
    display: contents;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    align-items: center;
    justify-content: space-between;

   .top-menu-wrapper {
      color: $color-black;

      &::before {
        content: "";
        // position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: background 0.5s;
      }
    }

    .open-mobile-menu i {
      color: $color-blue;
      font-size: 25px;
    }

    .top-menu {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 2;
      transform: translate3d(-100%, 0, 0);
      transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
      display: flex;
      flex-direction: column;
      width: 350px;
      overflow-y: auto;
      padding: 10px;
      background: $color-white;
      margin: 0px;
    }

    .top-menu-wrapper.show-offcanvas::before {
      background: $color-overlay;
      z-index: 1;
    }

    .top-menu-wrapper.show-offcanvas {
      .panel,
      .top-menu {
        transform: translate3d(0, 0, 0);
        transition-duration: 0.7s;
      }
    }

    .top-menu-wrapper.show-offcanvas {
      .top-menu {
        transition-delay: 0.2s;
      }
    }

    // Top Menu Style
    ul a {
      display: inline-block;
      color: #53565A;
      font-size: 27px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "Brandon Grotesque Black", Sans-serif;
      transition: color 0.35s ease-out;

      &:hover {
        color: $color-blue;
      }
    }

    .has-dropdown i {
      display: none;
    }

    .sub-menu {
      padding: 0.5rem 1.5rem 0 1.5rem;

      a {
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0rem;
      }
    }

    .top-menu {
      li + li {
        margin-top: 1.3rem;
        margin-left: 40px;
      }

      .mob-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

       i {
        color: #ACACAC !important;
        font-size: 25px;
        margin-left: 3px;
        }
      }
    }
  }
}
.number{
    margin-left: 70px;
    @media screen and (max-width:768px) {
        margin-left: 45px;
    }
    text-align: left;
    color: #53565A;
    font-family: "Gotham Book", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    a{
        cursor: pointer;
    }
}
.logo{
    text-align: center;
    .web-none{
        display: none;
    }
    img{
        cursor: pointer;
    }
}
.sign-up{
    text-align: end;
    .btn-primary{
    font-family: "Gilory Light", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: #00AEC7;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 25px 8px 25px;
    border: none;
    }
}
@media screen and (max-width:767px) {
    .mbl-none{
        display: none !important;
    }
    .web-none{
        display: block !important;
    }
}

// Header styling Ends Here

// Main Page Styling Start Here

.main-banner{
    background-image: url(../img/main-banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 510px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    @media screen and (max-width:575px) {
        min-height: 250px !important;
    }
    .banner-content{
    max-width: 700px;
    margin: 0 auto;
        .banner-btn{
            padding: 4% 0% 0% 0%;
            .btn-border{
                font-family: "Gilory Light", Sans-serif;
                font-size: 14.49px;
                font-weight: 500;
                text-transform: uppercase;
                background-color: #61CE7000;
                border: 1px solid #fff;
                border-width: 1px 1px 1px 1px;
                padding: 7px 35px;
                border-radius: 0px;
                color: #fff;
                text-align: center;
            }
        }
    }
}
.exhale-pilates{
    background-color: #00AEC7;
    padding: 6% 0% 6% 0%;
    .welcome-text{
        h1{
            max-width: 410px;
            color: #FFFFFF;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 66px;
            font-weight: 600;
            @media screen and (max-width:1024px){
                font-size: 45px;
            }
            @media screen and (max-width:575px){
                font-size: 35px;
            }
            @media screen and (max-width:767px){
                text-align: center;
                max-width: 100%;
            }
        }
    }
    .para{
        max-width: 350px;
        margin: 0% 0% 5% 0%;
        padding: 0% 0% 0% 0%;
        @media screen and (max-width:767px){
            max-width: 100%;
        }
        P{
            color: #53565A;
            font-family: "Gotham Book", Sans-serif;
            font-size: 15.15px;
            font-weight: 400;
            width: 74%;
            max-width: 74%;
            @media screen and (max-width:1024px){
                font-size: 16px;
            }
            @media screen and (max-width:767px){
                text-align: center;
                width: 100%;
                max-width: 100%;
            }
        }
    }
    .time-class{
        padding: 7% 0% 0% 0%;
        @media screen and (max-width:767px){
            text-align: center;
            max-width: 100%;
        }
        .btn-buy{
            color: #ffffff;
            background-color: #00aec7;
            border-radius: 0px 0px 0px 0px;
            padding: 8px 20px;
            line-height: 10px;
            border: 1px solid white;
            margin-right: 24px;
            width: 130px;
            a{
                font-family: "Gilory Light", Sans-serif;
                font-size: 11.84px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                fill: #53565a;
                &:hover{
                    color: white;
                }
            }
            @media screen and (max-width:575px){
                width: 100%;
                margin-top: 10px;
                padding: 10px 20px;
            }
        }
    }
}
.our-studios{
    padding: 0% 0% 5% 0%;
    .title{
        padding: 4% 0% 2% 0%;
        h2{
            color: #53565A;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 37px;
            font-weight: 600;
            margin: 0px;
            @media screen and (max-width:1024px) {
                font-size: 28px;
            }
        }
    }
    .images{
        padding: 15px;
        position: relative;
        img{
            height: 310px;
            width: 100%;
            object-fit: cover;
        }
        .heading{
            position: absolute;
            z-index: 9;
            right: 0px;
            text-align: center;
            width: 190px !important;
            background: #CECDCD;
            padding: 20px 10px;
            bottom: 50px;
            cursor: pointer;
            P{
                margin-bottom: 0px;
                color: #53565a;
                font-family: "Gotham Book", Sans-serif;
                font-size: 15.15px;
                font-weight: 300;
            }
        }
    }
}
.our-classes{
    background-color: #EBEBEB;
    padding: 0% 0% 6% 0%;
    .title{
        text-align: center;
        padding: 10px;
        h1{
            color: #53565a;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 37px;
            font-weight: 600;
            padding: 4% 0% 0% 0%;
            margin-bottom: 20px;
            @media screen and (max-width:1024px) {
                font-size: 25px;
            }
        }
        P{
            max-width: 635px;
            margin: 0 auto;
            text-align: center;
            color: #53565a;
            font-family: "Gotham Book", Sans-serif;
            font-size: 15.15px;
            font-weight: 400;
        }
    }
    .upcoming-course{
        padding: 0% 0% 2% 0%;
        button{
            font-family: "Gilory Light", Sans-serif;
            font-size: 14.49px;
            font-weight: 300;
            text-transform: uppercase;
            background-color: #00aec7;
            border-radius: 0px 0px 0px 0px;
            width: auto;
            color: white;
            padding: 1% 3% 1% 3%;
            @media screen and (max-width:575px){
                padding: 3% 3% 3% 3%;
            }
            a{
                cursor: pointer;
                &:hover{
                    color: white;
                }
            }
        }
    }
    .padding{
        padding: 10px 0px;
        .hover-img{
            position: relative;
            img{
                width: 100%;
                height: 360px;
                object-fit: cover;
                opacity: .9;
                filter: brightness(0.7);
            }
            h5{
                color: #FFFFFF;
                font-family: "Gotham Bold", Sans-serif;
                font-size: 15.15px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 180px;
                text-align: center;
            }
            .content{
                display: none;
            }
            &:hover{
                .content{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    color: #fff;
                    z-index: 2;
                    background-color: #a6a6a6;
                    text-align: center;
                    padding: 30px;
                    P{
                        font-family: "Gotham Book", Sans-serif;
                        font-size: 15.15px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        margin: 0;
                        line-height: 25px;
                    }
                }
                h5{
                    display: none;
                }
            }
        }
    }
}
.recommended-by{
    padding: 0% 0% 3% 0%;
    h2{
        padding: 3% 0% 1% 0%;
        margin-bottom: 20px;
        color: #53565a;
        font-family: "Gotham Book", Sans-serif;
        font-size: 25px;
        font-weight: 300;
    }
   a{
       img{
        cursor: pointer;
        max-width: 250px;
        max-height: 250px;
        margin: 0 auto;
    }
   }
    .slick-prev:before, .slick-next:before {
        color: #00aec7 !important;
    }
}
.class-instructor{
    display: flex;
    @media screen and (max-width:630px) {
       display: block;
    }
    .class{
        width: 50%;
        background-color: #00aec7;
        text-align: center;
        padding: 15px;
        @media screen and (max-width:630px) {
            width: 100%;
            padding: 5px;
        }
        a{
            font-family: "Gotham Book", Sans-serif;
            font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                fill: #FFFFFF;
                color: #FFFFFF;
                background-color: #61CE7000;
                border-style: solid;
                border-width: 1px 1px 1px 1px;
                padding: 3% 3% 3% 3%;
                width: 380px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin: 0 auto;
                @media screen and (max-width:1024px) {
                    width: 270px;
                }
            }
    }
    .instructor{
        width: 50%;
        background-color: #66cbd9;
        text-align: center;
        padding: 15px;
        @media screen and (max-width:630px) {
            width: 100%;
            padding: 5px;
        }
        a{
            font-family: "Gotham Book", Sans-serif;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                fill: #FFFFFF;
                color: #FFFFFF;
                background-color: #61CE7000;
                border-style: solid;
                border-width: 1px 1px 1px 1px;
                cursor: pointer;
                padding: 3% 3% 3% 3%;
                width: 380px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                @media screen and (max-width:1024px) {
                    width: 270px;
                }
            }
    }
}
// Pricing page sstyling Start Here

.pricing-banner{
    background-image: url(../img/pricing-banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 510px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    @media screen and (max-width:575px) {
        min-height: 385px !important;
    }
    .banner-content{
    max-width: 700px;
    margin: 0 auto;
        h1{
            color: #FFFFFF;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 62px;
            font-weight: 600;
            @media screen and (max-width:1024px) {
                font-size: 45px;
            }
            }
        p{
            max-width: 435px !important;
            margin: 0 auto;
            text-align: center;
            color: #FFFFFF;
            font-family: "Gotham Book", Sans-serif;
            font-size: 15.5px;
            font-weight: 400;
            margin-bottom: 20px
        }
        .banner-btn{
            padding: 4% 0% 0% 0%;
            .btn-border{
                font-family: "Gilory Light", Sans-serif;
                font-size: 14.49px;
                font-weight: 500;
                text-transform: uppercase;
                background-color: #61CE7000;
                border: 1px solid #fff;
                border-width: 1px 1px 1px 1px;
                padding: 1% 5% 1% 4%;
                border-radius: 0px;
                color: #fff;
                text-align: center;
            }
        }
    }
}
.pricing-section{
    padding: 0% 0% 3% 0%;
    .filter{
        padding: 3% 0% 3% 0%;
        .searchBoxMain {
            display: flex;
            align-items: center;
            grid-gap: 20px;
            justify-content: center;
            padding: 10px;
            select {
                border: 1px solid #A6A6A6;
                padding: 0px 10px;
                width: 371px;
                height: 47px;
                font-family: "Gotham Book", Sans-serif;
                font-size: 15.15px;
                &:focus-visible {
                    outline: none;
                }
            }
            button {
                background: #00AEC7 !important;
                text-transform: uppercase;
                padding: 3px 5px;
                color: white;
                font-size: 14.49px;
                width: 110px;
                height: 30px;
                font-family: "Gilory Light", Sans-serif;
            }
        }
    }
    .new-offer{
        .title{
            text-align: center;
            padding: 10px;
            h1{
                color: #53565a;
                font-family: "Brandon Grotesque Black", Sans-serif;
                font-size: 37px;
                font-weight: 600;
                padding: 0% 0% 4% 0%;
                @media screen and (max-width:1024px) {
                    font-size: 25px;
                }
            }
        }
    }
    .pricing-cards{
       .card-padding{
           padding: 10px;
           @media screen and (max-width:575px) {
            padding: 10px 20px;
        }
        .card-1{
            text-align: center;
            padding: 10% 8% 14% 8%;
            background-color: #00aec7;
            h2{
                margin-bottom: 20px;
                color: #53565a;
                font-family: "Brandon Grotesque Black", Sans-serif;
                font-size: 56.9px;
                font-weight: 600;
            }
            h3{
                color: #FFFFFF;
                font-family: "Roboto", Sans-serif;
                font-size: 26.96px;
                font-weight: 600;
                letter-spacing: 1px;
            }
            .para{
                max-width: 187px;
                margin: 0 auto;
                P{
                    text-align: center;
                    color: #FFFFFF;
                    font-family: "Gotham Book", Sans-serif;
                    font-size: 12.38px;
                    font-weight: 400;
                    margin-bottom: 20px;
                }
            }
            .btn-buy{
                color: #53565a;
                background-color: #FFFFFF;
                border-radius: 0px 0px 0px 0px;
                padding: 12px 24px;
                line-height: 10px;
                a{
                    font-family: "Gilory Light", Sans-serif;
                    font-size: 11.84px;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    fill: #53565a;
                }
            }
        }
        .card-2{
            background-color: #ACACAC !important;
        }
        .card-3{
            background-color: #A3E2EB;
        }
       }
    }
}

//  Class schedule styling start heree
.class-schedule{
    background: #ebebeb;
    padding: 0% 0% 3% 0%;
    .fields-section{
        padding: 8% 1% 0% 1%;
        select {
            padding: 0px 10px;
            width: 100%;
            font-family: "Gotham Book", Sans-serif;
            font-size: 15.15px;
            border: none !important;
            height: 43px;
            color: #53565A;
            &:focus-visible {
                outline: none;
            }
        }
    }
    .filter{
        padding: 10px;
        text-align: end;
        button{
            padding: 3px 10px;
            align-items: center !important;
            background: white;
            cursor: pointer;
            width: 151px;
            display: flex !important;
            gap: 10px;
            height: 34px;
            margin-left: auto;
        }
    }
    .tabel-date{
        text-align: center;
        padding: 0% 0% 4% 0%;
       h3{
        color: #53565A;
        font-family: "Gotham Medium", Sans-serif;
        font-size: 26.96px;
        font-weight: 600;
       }
    }
    .table-section{
        padding: 10px;
    .table-wrapper {
        overflow-x: scroll;
        &::-webkit-scrollbar {
            height: 4px;
        }
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
            background: #a3ccf7;
            &:hover {
                background: #77b2f1;
            }
        }
        .space {
            border-left: 23px solid white;
            border-right: 23px solid white;
        }
        .fl-table {
            font-weight: normal;
            border: none;
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            background-color: white;
            thead {
                border-left: 23px solid #00AEC7;
                border-right: 23px solid #00AEC7;
                tr {
                    border: none;
                }
                th {
                    color: #ffffff;
                    background: #00AEC7;
                    font-size: 15px;
                    font-family: "Gotham Bold", Sans-serif;
                    font-weight: 500;
                }
            }
            th {
                border: none;
                text-align: start;
                padding: 15px 30px;
            }
            td {
                border: none;
                text-align: start;
                padding: 15px 30px;
                font-size: 13.87px;
                color: #53565A;
                font-family: "Gotham Book", Sans-serif;
                button {
                    border: 1px solid #929292;
                    background: transparent;
                    color: #808080 !important;
                    font-size: 12px;
                    width: 90px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                p {
                    margin-bottom: 4px;
                }
            }
            tr {
                padding: 10px 0px;
                border-bottom: 1px solid #ACACAC;
            }
        }
        tr {
            &:last-child {
                border-bottom: none;
            }
        }
    }   
    }
}

// Faqs section styling start here

.faqs-banner{
    background-image: url(../img/faqs-banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 510px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    @media screen and (max-width:575px) {
        min-height: 250px !important;
    }
    .banner-content{
    max-width: 700px;
    margin: 0 auto;
        h1{
            color: #FFFFFF;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 62px;
            font-weight: 600;
            @media screen and (max-width:1024px) {
                font-size: 45px;
            }
            }
    }
}
.faqHead{
    padding: 60px 0px;
   .box{
    height: 100%;
    padding: 10px;
    a{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 1px solid #707070;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        padding: 2rem 3.5rem;
        margin: 0;
        font-family: "Gotham Book", Sans-serif;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            border: 1px solid #A3E2EB;
            background-color: #A3E2EB;
            color: white;
        }
    }
   }
}
.faqs-accordion{
    .graySec{
        background-color: #f7f7f7;
        padding: 5rem 0;
    }
   .WhiteSec{
    background-color: white;
    padding: 5rem 0;
   }
   .ColorSec{
    background-color: #00AEC7;
    padding: 5rem 0;
    .accordion-section{
        h1{
            color: white;
        }
    }
   }
    .accordion-section{
        h1{
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
            }
        .accordion-item {
            border: none;
            box-shadow: 1px 11px 12px 1px #80808036;
            margin-bottom: 10px;
            box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
            margin: 2rem 0 0;
            cursor: pointer;
        }

        .accordion-button{
            color: #53565a;
            background-color: white;
            box-shadow: none;
            font-family: "Gotham Book", Sans-serif;
            font-size: 17px;
            font-weight: 300;
        }
        .accordion-button:not(.collapsed) {
            color: #53565a;
            background-color: white;
            box-shadow: none;
            font-family: "Gotham Book", Sans-serif;
            font-size: 17px;
            font-weight: 300;
        }
        .accordion-body{
            font-family: "Gotham Book", Sans-serif;
            font-size: 14px;
            font-weight: 400;
            a{
                text-decoration: underline;
            }
        }
    }
}

// Teacher training section start  here

.teacher-training-banner{
    background-image: url(../img/teacher-training.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 510px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    @media screen and (max-width:575px) {
        min-height: 385px !important;
    }
    .banner-content{
    max-width: 700px;
    margin: 0 auto;
        h1{
            color: #FFFFFF;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 62px;
            font-weight: 600;
            @media screen and (max-width:1024px) {
                font-size: 37px;
            }
            }
        p{
            max-width: 435px !important;
            margin: 0 auto;
            text-align: center;
            color: #FFFFFF;
            font-family: "Gotham Book", Sans-serif;
            font-size: 15.5px;
            font-weight: 400;
            margin-bottom: 20px
        }
        .banner-btn{
            padding: 4% 0% 0% 0%;
            .btn-border{
                font-family: "Gilory Light", Sans-serif;
                font-size: 14.49px;
                font-weight: 500;
                text-transform: uppercase;
                background-color: #61CE7000;
                border: 1px solid #fff;
                border-width: 1px 1px 1px 1px;
                padding: 1% 5% 1% 4%;
                border-radius: 0px;
                color: #fff;
                text-align: center;
            }
        }
    }
}
.training-section{
    .new-offer{
        .title{
            text-align: center;
            padding: 10px;
            h1{
                color: #53565a;
                font-family: "Brandon Grotesque Black", Sans-serif;
                font-size: 37px;
                font-weight: 600;
                padding: 4% 0% 0% 0%;
                margin-bottom: 20px;
                @media screen and (max-width:1024px) {
                    font-size: 25px;
                }
            }
            P{
                max-width: 635px;
                margin: 0 auto;
                text-align: center;
                color: #53565a;
                font-family: "Gotham Book", Sans-serif;
                font-size: 15.15px;
                font-weight: 400;
            }
        }
    }
    .training-cards{
        padding: 6% 0% 0% 0%;
       .card-padding{
           padding: 10px;
           @media screen and (max-width:575px) {
            padding: 10px 20px;
        }
        .card-1{
            text-align: center;
            padding: 10% 8% 10% 8%;
            background-color: #00aec7;
            h2{
                padding-bottom: 20px;
                color: #53565a;
                font-family: "Roboto", Sans-serif;
                font-size: 26px;
                font-weight: 600;
                line-height: 35px;
                height: 75px;
                max-width: 210px;
                margin: 0 auto;
            }
            .para{
                max-width: 240px;
                margin: 0 auto;
                P{
                    text-align: center;
                    color: #FFFFFF;
                    font-family: "Gotham Book", Sans-serif;
                    font-size: 12.38px;
                    font-weight: 400;
                    margin-bottom: 20px;
                }
            }
            .btn-buy{
                a{
                    width: 90px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    font-family: "Gilory Light", Sans-serif;
                    font-size: 11.84px;
                    font-weight: 200;
                    background-color: #61CE7000;
                    border-style: solid;
                    border-width: 1px 1px 1px 1px;
                    border-radius: 0px 0px 0px 0px;
                    padding: 0% 0% 0% 0%;
                    color: white;
                    cursor: pointer;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
        .card-2{
            background-color: #ACACAC !important;
        }
        .card-3{
            background-color: #A3E2EB;
        }
       }
    }
}
.arrow-down{
    padding: 25px 0px 30px 0px;
}
.upcoming-course{
    padding: 0% 0% 4% 0%;
    button{
        font-family: "Gilory Light", Sans-serif;
        font-size: 14.49px;
        font-weight: 300;
        text-transform: uppercase;
        background-color: #00aec7;
        border-radius: 0px 0px 0px 0px;
        width: auto;
        color: white;
        padding: 1% 3% 1% 3%;
        @media screen and (max-width:575px){
            padding: 3% 3% 3% 3%;
        }
        a{
            cursor: pointer;
            &:hover{
                color: white;
            }
        }
    }
}

// Contact Us page Styling Start Here

.contact-banner{
    background-image: url(../img/contact-banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 510px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    @media screen and (max-width:575px) {
        min-height: 250px !important;
    }
    .banner-content{
    max-width: 700px;
    margin: 0 auto;
        h1{
            color: #FFFFFF;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 62px;
            font-weight: 600;
            @media screen and (max-width:1024px) {
                font-size: 45px;
            }
            }
    }
}
.primrose-hill{
    background-color: #00AEC7;
    padding: 6% 0% 6% 0%;
    .welcome-text{
        h1{
            max-width: 446px;
            color: #FFFFFF;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 66px;
            font-weight: 600;
            @media screen and (max-width:1024px){
                font-size: 45px;
            }
            @media screen and (max-width:575px){
                font-size: 35px;
            }
            @media screen and (max-width:767px){
                text-align: center;
                max-width: 100%;
            }
        }
    }
    .para{
        max-width: 350px;
        margin: 0% 0% 5% 0%;
        padding: 0% 0% 0% 0%;
        @media screen and (max-width:767px){
            max-width: 100%;
        }
        P{
            color: #53565A;
            font-family: "Gotham Book", Sans-serif;
            font-size: 15.15px;
            font-weight: 400;
            width: 74%;
            max-width: 74%;
            @media screen and (max-width:1024px){
                font-size: 16px;
            }
            @media screen and (max-width:767px){
                text-align: center;
                width: 100%;
                max-width: 100%;
            }
        }
    }
    .time-class{
        padding: 7% 0% 0% 0%;
        @media screen and (max-width:767px){
            text-align: center;
            max-width: 100%;
        }
        .btn-buy{
            color: #ffffff;
            background-color: #00aec7;
            border-radius: 0px 0px 0px 0px;
            padding: 8px 20px;
            line-height: 10px;
            border: 1px solid white;
            margin-right: 24px;
            width: 130px;
            a{
                font-family: "Gilory Light", Sans-serif;
                font-size: 11.84px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                fill: #53565a;
                &:hover{
                    color: white;
                }
            }
            @media screen and (max-width:575px){
                width: 100%;
                margin-top: 10px;
                padding: 10px 20px;
            }
        }
    }
}
.address{
    padding: 0% 0% 5% 0%;
    .find-us{
        padding: 3% 0% 4% 0%;
        h2{
            color: #53565A;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 37px;
            font-weight: 600;
        }
    }
    .address-map{
        .heading{
            h3{
                color: #53565A;
                font-family: "Brandon Grotesque Black", Sans-serif;
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                margin: 0px 0px 20px 0px;
            }
            p{
                color: #53565a;
                font-family: "SF-Pro", Sans-serif;
                font-size: 13px;
                font-weight: 500;
                line-height: 27px;
                margin-bottom: 5px;
            }
        }
        iframe{
            width: 100%;
            height: 325px;
        }
    }
}

// class detail styling start here

.class-detail-banner{
    background-image: url(../img/class-detail-banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 510px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    @media screen and (max-width:575px) {
        min-height: 250px !important;
    }
    .banner-content{
    max-width: 700px;
    margin: 0 auto;
        h1{
            color: #FFFFFF;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 62px;
            font-weight: 600;
            @media screen and (max-width:1024px) {
                font-size: 45px;
            }
            }
    }
}
.class-detail-1{
    padding: 5% 0% 5% 0%;
    img{
        width: 100%;
        height: 375px;
        object-fit: cover;
    }
    p{
        max-width: 356px;
        margin: 0 auto;
        text-align: center;
        color: #53565a;
        font-family: "Gotham Book", Sans-serif;
        font-size: 15.15px;
        font-weight: 400;
    }
}
.class-detail-2{
    .clr{
        background-color: #A3E2EB;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .padding{
            @media screen and (max-width:767px) {
                padding: 30px;
            }
        }
        h1{
            padding: 0% 0% 4% 0%;
            color: #53565a;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 33px;
            font-weight: 600;
            margin: 0;
        }
        p{
            max-width: 356px;
            margin: 0 auto;
            text-align: center;
            color: #53565a;
            font-family: "Gotham Book", Sans-serif;
            font-size: 15.15px;
        }
        img{
            padding: 4% 0% 0% 0%;
            width: 18px;
        }
    }
    .side-img{
        img{
            height: 400px;
            width: 100%;
            object-fit: cover;
                @media screen and (max-width:767px) {
                    padding: 10px;
                }
        }
    }
}
.class-detail-3{
    .clr{
        background-color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .padding{
            @media screen and (max-width:767px) {
                padding: 30px;
            }
        }
        h1{
            padding: 0% 0% 4% 0%;
            color: #53565a;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 33px;
            font-weight: 600;
            margin: 0;
        }
        p{
            max-width: 356px;
            margin: 0 auto;
            text-align: center;
            color: #53565a;
            font-family: "Gotham Book", Sans-serif;
            font-size: 15.15px;
        }
        img{
            padding: 4% 0% 0% 0%;
            width: 18px;
        }
    }
    .side-img{
        img{
            height: 400px;
            width: 100%;
            object-fit: cover;
            @media screen and (max-width:767px) {
                padding: 10px;
            }
        }
    }
}
.class-detail-4{
    .clr{
        padding: 3% 0% 3% 0%;
        background-color: #A3E2EB;
        .padding{
            @media screen and (max-width:768px) {
                padding: 30px;
            }
        }
        h1{
            padding: 0% 0% 4% 0%;
            color: #53565a;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 33px;
            font-weight: 600;
            margin: 0;
            text-align: center;
            height: 106px;
            @media screen and (max-width:768px) {
                height: 135px;
            }
        }
        .center-align{
            max-width: 382px;
            margin: 0 auto;
            p{
                color: #53565a;
                font-family: "Gotham Book", Sans-serif;
                font-size: 15.15px;
            }
            ul{
                li{
                    list-style: disc;
                    margin-bottom: 10px;
                    text-align: left;
                    color: #53565a;
                    font-family: "Gotham Book", Sans-serif;
                    font-size: 15.15px;
                    font-weight: 400;
                }
            }
        }
    }
    .white{
        background-color: white;
        padding: 3% 0% 3% 0%;
        .padding{
            @media screen and (max-width:768px) {
                padding: 30px;
            }
        }
        h1{
            padding: 0% 0% 4% 0%;
            color: #53565a;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 33px;
            font-weight: 600;
            margin: 0;
            text-align: center;
            height: 106px;
            @media screen and (max-width:768px) {
                height: 135px;
            }
            @media screen and (max-width:766px) {
                height: 55px;
            }
            @media screen and (max-width:392px) {
                height: 105px;
            }
        }
        .center-align{
            max-width: 382px;
            margin: 0 auto;
            p{
                color: #53565a;
                font-family: "Gotham Book", Sans-serif;
                font-size: 15.15px;
            }
            ul{
                li{
                    list-style: disc;
                    margin-bottom: 10px;
                    text-align: left;
                    color: #53565a;
                    font-family: "Gotham Book", Sans-serif;
                    font-size: 15.15px;
                    font-weight: 400;
                }
            }
        }
    }
}
.testimonial{
    .title{
        padding: 3% 0% 3% 0%;
        text-align: center;
        h1{
            padding: 2% 2% 2% 2%;
            color: #53565a;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 37px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        @media screen and (max-width:767px) {
            padding: 10px;
        }
    }
    .enroll{
        padding: 3% 0% 3% 0%;
        text-align: center;
        a{
            font-family: "Gilory Light", Sans-serif;
            font-size: 21px;
            font-weight: 300;
            text-transform: uppercase;
            background-color: #00AEC7;
            border-radius: 0px 0px 0px 0px;
            padding: 1% 2% 1% 2%;
            color: white;
            width: 200px;
        }
    }
}

// our team section start here

.team-banner{
    // background-image: url(../img/training-teacher.jpeg);
    background-color: #00AEC7;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 510px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    @media screen and (max-width:575px) {
        min-height: 250px !important;
    }
    .banner-content{
    max-width: 700px;
    margin: 0 auto;
        h1{
            color: #FFFFFF;
            font-family: "Brandon Grotesque Black", Sans-serif;
            font-size: 62px;
            font-weight: 600;
            @media screen and (max-width:1024px) {
                font-size: 45px;
            }
            }
        p{
            max-width: 435px !important;
            margin: 0 auto;
            text-align: center;
            color: #FFFFFF;
            font-family: "Gotham Book", Sans-serif;
            font-size: 15.5px;
            font-weight: 400;
            margin-bottom: 20px
        }
    }
}
.team-members{
    .light-clr-gray{
        background-color: #EBEBEB;
        height: 500px;
        position: relative;
    }
    .medium-clr-gray{
        background-color: #DFDFDF;
        height: 500px;
        position: relative;
    }
    .dark-clr-gray{
        background-color: #C5C5C5;
        height: 500px;
        position: relative;
    }
    .member{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        margin-bottom: 30px;
        a{
            cursor: pointer;
            font-family: "Gilory Light", Sans-serif;
            font-size: 21px;
            font-weight: 300;
            color: #929292;
            text-transform: uppercase;
            background-color: white;
            border-radius: 0px 0px 0px 0px;
            padding: 2% 15% 2% 15%;
            border: 1px solid #929292;
        }
    }
}

//member detail section start here

.member-detail{
    padding: 5% 0% 5% 0%;
    background: #EBEBEB;
    .member-img{
        text-align: center;
        img{
            max-width: 325px;
            height: 390px;
            object-fit: cover;
        }
    }
    h1{
        color: #53565a;
        font-family: "Brandon Grotesque Black", Sans-serif;
        font-size: 33px;
        margin-bottom: 7px;
    }
    h3{
        color: #53565a;
        font-family: "Gotham Medium", Sans-serif;
        font-size: 16px;
        margin-bottom: 7px;
    }
    .member-width{
        max-width: 353px;
        p{
            padding: 4% 0% 0% 0%;
            text-align: left;
            color: #53565A;
            font-family: "Gotham Book", Sans-serif;
            font-size: 15px;
            font-weight: 400;
            margin: 0;
        }
        .member-btn{
            padding: 4% 0% 0% 0%;
            a{
                font-family: "Gilory Light", Sans-serif;
                font-size: 15px;
                font-weight: 300;
                text-transform: uppercase;
                background-color: #CECDCD;
                border-radius: 0px 0px 0px 0px;
                padding: 1% 3% 1% 3%;
                color: white;
                cursor: pointer;
            }
        }
    }
}

// footer Styling Start Here

.footer-banner{
    background-image: url(../img/footer_bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    // min-height: 420px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 0% 1% 0%;
    .footer-content{
        text-align: left;
        .social-icon{
            a{
                cursor: pointer;
                img{
                    margin-right: 15px;
                }
            }
        }
        .content-1{
            margin-top: 30px;
            p{
                color: #53565A;
                font-family: "Gotham Book", Sans-serif;
                font-size: 12px;
                letter-spacing: 0px;
                margin: 0;
                line-height: 10px;
            }
            a{
                color: #00AEC7;
                font-family: "Gotham Book", Sans-serif;
                font-size: 12px;
                font-weight: 400;
            }
        }
        .content-2{
            margin-top: 20px;
            p{
                color: #53565A;
                font-family: "Gotham Book", Sans-serif;
                font-size: 12px;
                letter-spacing: 0px;
                margin: 0;
                line-height: 10px;
            }
            a{
                color: #00AEC7;
                font-family: "Gotham Book", Sans-serif;
                font-size: 12px;
                font-weight: 400;
            }
        }
        .content-3{
            margin-top: 20px;
            a{
                color: #53565a;
                font-family: "SF-Pro", Sans-serif;
                font-size: 13px;
                font-weight: 500;
            }
        }
        .content-4{
            margin-top: 30px;
            a{
                margin-right: 15px;
                padding: 0px;
                font-size: 8px;
                font-weight: 400 !important;
                color: #53565A;
                margin-right: 20px;
                font-family: "Gotham Book", Sans-serif;
            }
        }
    }
}
